<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <p><strong>Submited from:</strong> <%= submitedOn %></p>
    <p><strong>Submited on:</strong> <%= site %></p>
    <p><strong>Language:</strong> <%= lang %></p>
    <p><strong> <%= emailLabel %></strong> <%= emailContent %></p>
    <p><strong>From page:</strong> <%= urlFrom %></p>
   
</body>
</html>
